$background-color-primary: linear-gradient(
  109.6deg,
  rgba(2, 87, 255, 0.989) 11.2%,
  rgb(139, 151, 255) 91.1%
);
$background-color-secondary: #000;

.bg-size {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
}

.bg-color {
  background: $background-color-primary;
}

.header {
  position: relative;
  font-size: 48px;
  padding-bottom: 2em;
  color: #fff;

  &-firstChild {
    border: #fff 1px solid;
    width: 60%;
    position: absolute;
    right: 0;
    translate: 15% -10px;
  }

  &-title {
    margin: 0;
    font-size: 35px;
    font-weight: 900;
  }

  &-lastChild {
    border: #fff 1px solid;
    width: 60%;
    position: absolute;
    left: 0;
    transform: translateX(-24%);
  }
}

.mainContent {
  width: 75%;
  height: 75%;
  border-radius: 30px !important;

  &-icon {
    width: 150%;
    transform: translateX(12%);
  }

  &-registerForm {
    display: flex;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background: rgba(2, 87, 255, 0.989) 50%;
  }
}

.wrapperForm {
  &-title {
    margin-top: 15px !important;
    text-align: left;
    font-size: 36px;
    font-weight: bold;
    color: #fff;
  }

  &-alert {
    font-family: "Times New Roman", Times, serif;
    margin: 0 !important;
    padding: 10px !important;
    margin-bottom: 5px !important;
  }
}

form {
  div {
    margin-bottom: 10px;

    label {
      color: #fff;
    }

    input {
      color: #fff;
      border-radius: 30px !important;
      .form-control:focus {
        border-color: rgb(0, 245, 245);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
          0 0 8px rgb(0, 245, 245);
      }

      .forget_password {
        text-align: right;
        font-family: "Times New Roman", Times, serif;
        margin: 5px 0;
        font-weight: 600;
        color: #fff;

        * {
          text-decoration: none;
          color: #fff;
        }
      }
    }

    button {
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 30px !important;
    }
  }
}

.btn-primary {
  appearance: none;
  background-color: #ffffff;
  border-radius: 40em;
  border-style: none;
  box-shadow: #adcfff 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin: 0;
  outline: none;
  padding: 5px;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:hover {
    background-color: #ffc229;
    box-shadow: #ff6314 0 -6px 8px inset;
    transform: scale(1.125);
  }
  &:active,
  &:visited {
    transform: scale(1.025);
  }
}

@media (min-width: 768px) {
  .btn-primary {
    font-size: 1em;
    padding: 0.5rem 1em;
  }
}

.line {
  font-family: "Times New Roman", Times, serif;
  color: #fff;
  display: flex;
  flex-direction: row;

  &:before,
  &:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
  }

  &:before {
    margin-right: 10px;
  }

  &:after {
    margin-left: 10px;
  }
}

.signin {
  color: white;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 5px;

  * {
    cursor: pointer;
    font-size: larger;
    font-weight: bolder;
    color: rgb(112, 255, 56) !important;
  }
}

@media (max-width: 575.98px) {
  .mainContent-loginForm {
    border-radius: 30px;

    div {
      width: 100% !important;
    }
  }
}

@media (min-width: 991.98px) {
  .mainContent {
    width: 800px !important;
  }

  .mainContent-loginForm > div {
    width: 65% !important;
  }
}

@media (max-width: 576px) {
  .header {
    position: relative;
    font-size: 20px;
    padding-bottom: 2em;
    color: #fff;

    &-firstChild {
      border: #fff 1px solid;
      width: 60%;
      position: absolute;
      right: 0;
      translate: 15% -10px;
    }

    &-title {
      margin: 0;
      font-size: 35px;
      font-weight: 900;
    }

    &-lastChild {
      border: #fff 1px solid;
      width: 60%;
      position: absolute;
      left: 0;
      transform: translateX(-24%);
    }
  }
}
