$main_content_bg_color : linear-gradient(to right, #9900ff, #cc80ff);

.main-content {
    background: $main_content_bg_color;
    width: 100vw;
    height: 100vh;
    // overflow: hidden;
}

.control-panel {
    background-color: #fff;
    height: 100%;

    &--rounded {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
    }
}

.user_info {
    padding: 10px 10px;

    &>span {
        padding-left: 10px;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &>i {
        position: relative;

        &>.config_popup{
            position: absolute;
            transform: translate(36px, -16px);
            width: 200px;
            background-color: #fff;
            border-radius: 12px;
            box-shadow: 0px 2px 22px 2px rgba(0,0,0,0.75);

            &>div{
                padding: 15px;
                cursor: pointer;
            }

            &>div:hover{
                padding: 15px;
                background-color: rgba(0, 0, 0, 0.212);
            }

            &>div:first-child:hover{
                border-top-right-radius: 12px;
                border-top-left-radius: 12px;
            }

            &>div:last-child:hover{
                border-bottom-right-radius: 12px;
                border-bottom-left-radius: 12px;
            }
        }
    }

}



.avatar {
    vertical-align: middle;
    width: 5vb;
    height: 5vb;
    border-radius: 50%;
}

.line {
    width: 100%;
    border: #000000 1px solid;
}

.about_us {
    @extend .user_info;
    cursor: pointer;
}

.history_panel {
    overflow: scroll;
    overflow-x: hidden;
    padding: 0px 10px;

    &>div {
        margin-bottom: 10px;
    }

}

.history_panel_title {
    font-size: smaller;
    padding: 0px 10px;
    padding-bottom: 10px;
}

.chat_new {
    padding: 8px 10px;
    padding-top: 12px;
    font-weight: bold;
    cursor: pointer;

    &>i {
        font-size: 16px;
        padding-right: 5px;
    }
}

.chat_item {
    border-radius: 10px;
    border: #000000 1px solid;
    padding: 8px 10px;
    cursor: pointer;

    &>img {
        width: 25px;
    }

    &>span {
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &>div>i {
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
    }
}

.chat_item_edit:hover>div {
    display: flex !important;

}

.title>h1 {
    font-size: 3em;
    color: #fff;
}

.chatbot {
    overflow: hidden;

    &>.input {
        background-color: #fff;
        width: 90%;
        min-height: 10%;
        overflow: scroll;
        overflow-x: hidden;
        padding-left: 12px;
        padding-right: 12px;
        border-radius: 12px;
        margin-bottom: 10px;
    }

    &>.title>img {
        width: 20px;
        margin-left: 20px;
    }



    &-dialog {
        background-color: #fff;
        width: 90%;
        margin-bottom: 10px;
        border-radius: 12px;

        &-titleChat {
            width: 100%;
            height: 50px;
            padding: 12px;
            padding-left: 24px;
            margin: 0 !important;
            margin-bottom: 10px !important;
            box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.75);
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            font-weight: 800;
            font-size: 24px;
            overflow: hidden;
            overflow-x: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &-listChat {
            overflow: scroll;
            height: 430px;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
            overflow-x: hidden;
            margin-bottom: 12px;

            &>div {
                margin-top: 12px;
                padding: 0px 10px;

                &:nth-child(2n + 1) {
                    display: flex;
                    flex-direction: row;

                    &>img {
                        width: 40px;
                        height: 40px;
                        margin-right: 12px;
                    }

                    &>span {
                        background-color: #00F5FF;
                        border-radius: 12px;
                        padding: 10px;
                        font-family: 'Arial';
                    }

                }

                &:nth-child(2n) {
                    display: flex;
                    flex-direction: row-reverse;

                    &>img {
                        width: 40px;
                        height: 40px;
                        margin-left: 12px;
                    }

                    &>span {
                        background-color: rgba(0, 245, 255, 0.5);
                        border-radius: 12px;
                        padding: 10px;
                        font-family: 'Arial';
                    }
                }
            }
        }


    }
}




.input {
    &>textarea {
        width: 100%;
        border: none;
        overflow: auto;
        outline: none;
        box-shadow: none;
        resize: none;
        font-family: 'Arial';
    }

    &>i {
        margin: 0 6px;
        font-size: 24px;
    }
}

.modalBox {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: fit-content;
}

/* Track */
::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 32px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}